<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.manuelnunhez.dreamtv">
    <!-- <uses-permission android:name="android.permission.GET_ACCOUNTS" /> -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <application
        android:name=".DreamTVApp"
        android:allowBackup="true"
        android:banner="@drawable/logo_tv"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".ui.welcome.WelcomeActivity">
            <tools:validation testUrl="http://dreamproject.pjwstk.edu.pl/dreamtv" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="dreamproject.pjwstk.edu.pl"
                    android:pathPattern="/dreamtv"
                    android:scheme="http" />
            </intent-filter>
        </activity> <!-- configChanges, para evitar que cuando el control se desconecte, interrumpa el app -->
        <activity android:name=".ui.home.HomeActivity" />
        <activity android:name=".ui.videoDetails.VideoDetailsActivity" />
        <activity android:name=".ui.playVideo.PlaybackVideoActivity" />
        <activity
            android:name=".ui.playVideo.PlaybackVideoYoutubeActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.preferences.AppPreferencesActivity"
            android:exported="true"
            android:theme="@style/LeanbackPreferences" />
        <activity
            android:name=".ui.preferences.VideoPreferencesActivity"
            android:exported="true"
            android:theme="@style/LeanbackPreferences" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.categories.CategoryActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>